/*styling settings */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "manrope", serif;
}

html, body {
    height: 100%;
    background-color: var(--Grey-200)
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: 100%;
    width: auto;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/* font */
* {
  font-family: rubik, sans-serif;
}

:root {
/*Color variables */
--Purple-600: hsl(246, 80%, 60%);

--Orange-300: hsl(15, 100%, 70%);
--Blue-300: hsl(195, 74%, 62%);
--Pink-400: hsl(348, 100%, 68%);
--Green-400: hsl(145, 58%, 55%);
--Purple-700: hsl(264, 64%, 52%);
--Yellow-300: hsl(43, 84%, 65%);

--Navy-950: hsl(226, 43%, 10%);
--Navy-900: hsl(235, 46%, 20%);
--Purple-500: hsl(235, 45%, 61%);
--Navy-200: hsl(236, 100%, 87%);

/*Font Variables */
--fw-light: 300;
--fw-regular: 400;
--fw-bold: 700;

}

/*
main {
display: grid;
place-items: center;

}
*/

.eContain {
  margin: 5em 2em;
}

body {
  background-color: var(--Navy-950);

}

/* inside boxes */

.reporting {
  background-color:  var(--Purple-600);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 2em 0em;
  min-width: 220px;
  max-width: 520px;
}

.content1 {
  position: relative;
  background-color: var(--Navy-900);
  border-radius: 15px;
  color: white;
  margin-block-start: -1.75em;

 

  
}


.content2 {
 position: relative;
  background-color: var(--Navy-900);
  border-radius: 15px;
  color: white;
  margin-block-start: -2.15em;
 
}

.content3 {
  position: relative;
  background-color: var(--Navy-900);
  border-radius: 15px;
  color: white;
  margin-block-start: -2em;
}

.content4 {
 position: relative;
  background-color: var(--Navy-900);
  border-radius: 15px;
  color: white;
  margin-block-start: -1.1em;

}

.content5 {
 position: relative;
  background-color: var(--Navy-900);
  border-radius: 15px;
  color: white;
  margin-block-start: -2.89em;
  
}

.content6 {
  position: relative;
  background-color: var(--Navy-900);
  border-radius: 15px;
  color: white;
  margin-block-start: -2.3em;
 
}

/* boxes */

.dashTop {
  background-color: var(--Navy-900);
  border-radius: 15px;
  min-width: 220px;
  max-width: 520px;
}

.dash {
  margin-block-start: 1.5em;
  border-radius: 15px;
  width: 100%;
  min-width: 220px;
  max-width: 520px;

}

.next1 {
  background-color: var(--Orange-300);
  width: 100%;
  min-width: 220px;
  max-width: 520px;

}

.next2 {
  background-color: var(--Blue-300);
  width: 100%;
  min-width: 220px;
  max-width: 520px;
  
}

.next3 {
  background-color: var(--Pink-400);
  width: 100%;
  min-width: 220px;
  max-width: 520px;

}

.next4 {
  background-color: var(--Green-400);
  width: 100%;
  min-width: 220px;
  max-width: 520px;
  
}

.next5 {
  background-color: var(--Purple-700);
  width: 100%;
  min-width: 220px;
  max-width: 520px;
  
}

.next6 {
  background-color: var(--Yellow-300);
  width: 100%;
  min-width: 220px;
  max-width: 520px;

}

/* logos */
.brief {
  padding-inline-start: 13.5em;
  margin-top: -.7em;
  
}

.remote {
  padding-inline-start: 13.3em;
  margin-top: -.4em;
}

.book {
  padding-inline-start: 13.4em;
  margin-top: -.3em;
}

.stickFig {
  padding-inline-start: 13.2em;
  margin-top: -.1em;
}

.bubble {
  padding-inline-start: 14em;
  margin-top: -1em;
}

.heart {
  padding-inline-start: 14.2em;
  margin-top: -.6em;
}

.jeremy {
  width: 64px;
  height: 64px;
  border: 3px solid white;
  border-radius: 60px;
}

.dots {
  height: 5px;
  width: 21px;
  
}

.lImg {
  overflow: hidden;
}

/* Text */
.reporting p {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: var(--Navy-200);
  font-weight: var(--fw-regular);
}

.reporting h1 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: var(--fw-light);
  padding-block-start: .3em;
}

.time {
  color: var(--Purple-500);
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: var(--fw-regular);
  display: flex;
  justify-content: space-around;
  padding: 1.5em;

}

.minCont1 {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding: 1.5em 1.5em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -.5em;
  color: white;

}

.minCont2 {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1.5em;
  padding-bottom: 2em;
}

.hours {
  font-size: 2rem;
  font-weight: var(--fw-light);
  color: white;
}

.hoursTime {
 font-size: 0.9375rem;
 line-height: 1.125rem;
 color: var(--Navy-200);
 font-weight: var(--fw-light);
}

@media (min-width: 595px) {

  /*
  html {
    display: grid;
    height: 100vh;
    place-content: center;
  }

  */

/*
  the belows center the grid on the page
  */
main {
  height: 100vh;
  place-content: center;

}
.eContain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  max-width: 1090px;
  margin: 0 auto;
}

.dashTop {
  grid-column-start: 1;
  grid-row: 1 / span 2;
}

.reporting {
  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.minCont2 {
  flex-direction: column;
  gap: 2em;
}

.dash, 
.content1,
.content2,
.content3,
.content4,
.content5,
.content6,
.next1,
.next2,
.next3,
.next4,
.next5,
.next6 {
  max-width: 255px;
  max-height: 244px;
  margin-block-start: 0em;
}

.dash {
  margin: 0 auto;

}

.reporting {
  padding: 2em 2em;
  padding-bottom: 6em;
  gap: 0em;
  align-items: unset;
}

.reporting h1 {
  color: white;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  font-weight: var(--fw-light);

}

.img__container {
    padding-bottom: 2.5em;
}

.content1 {
  margin-block-start: 1em;
}

.minCont2 {
align-items: flex-start;
gap: 1em;
}

.minCont1 {
    padding-bottom: 2em;
}

.hours {
    font-size: 3.5rem;
    line-height: 4.125rem;
}

.content1 {
  padding: unset;
  margin: unset;
  margin-top: 2.8em;
  max-height: 199px;
}

.content2 {
  padding: unset;
  margin: unset;
  margin-top: 2.8em;
  max-height: 199px;
}
.content3 {
  padding: unset;
  margin: unset;
  margin-top: 2.8em;
    max-height: 199px;
}

.content4 {
  padding: unset;
  margin: unset;
  margin-top: 2.8em;
    max-height: 199px;
}

.content5 {
  padding: unset;
  margin: unset;
  margin-top: 2.8em;
  max-height: 199px;
}

.content6 {
  padding: unset;
  margin: unset;
  margin-top: 2.19em;
  max-height: 199px;
}

.dashTop {
  max-height: 520px;
}

* logos */
.brief {
  padding-inline-start: unsetk;
  
  
}

.remote {
  
}

.book {
 
}

.stickFig {
  
}

.bubble {
  
}

.heart {
}


}



